.header-video {
  position: relative;
  overflow: hidden;
}

.header-video iframe,
.header-video video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.header-video iframe {
  height: 100%;
  width: 100%;
}

.header-video video {
  width: 100%;
}

.header-video__teaser-video {
  width: 100%;
  height: auto; 
}

.header-video__media {
  width: 100%;
  height: auto;
}

.header-video__play-trigger {
z-index: 5;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -35px;
    color: #fff;
    text-decoration: none;
    background: url(https://enigmes-a-thematiques.fr/web/enigmes/images/ep1472.png);
    width: 120px;
    height: 120px;
    background-size: 100%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: background .5s;
    -moz-transition: background .5s;
    transition: background .5s;
}

.header-video__play-trigger:hover {
z-index: 5;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -35px;
    color: #fff;
    text-decoration: none;
    background: url(https://enigmes-a-thematiques.fr/web/enigmes/images/ep1472.png);
    width: 120px;
    height: 120px;
    background-size: 100%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: background .5s;
    -moz-transition: background .5s;
    transition: background .5s;
    
}

.header-video__close-trigger {
  z-index: 99;
  position: absolute;
  background: #A61212;
  text-align: center;
  color: white;
  text-decoration: none;
  padding: 2em 3em;
  border-radius: 10px;
  right: 30px;
  top: 90px;
  -webkit-transition: background .3s;
  -moz-transition: background .3s;
  transition: background .3s;  
  border: none;
}
.header-video__close-trigger:hover {
  background: #363636;
  cursor: pointer;
}
    @media (max-width: 543px) {
.header-video {
  position: relative;
  overflow: hidden;
    margin-top: 30%;
}
        .header-video__play-trigger {
    width: 80px;
    height: 80px;
        }
        .scrollheader {
    width: 50px;
    height: 50px;
    top: 90%;
            }
        }